<form action="/search/" method="get" class="navbar-form navbar-left" role="search">
  <div class="form-group">
    <input id="query" name="query" type="text" class="form-control" placeholder="Search" pattern="^(?!\s*$).+" required>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<br />
<%= render "products" if @products %>