<div class="container">
  <form action="/search/" method="get" class="navbar-form navbar-left" role="search">
    <div class="form-group">
      <input id="query" name="query" type="text" class="form-control" placeholder="Search">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>

  <% if @products %>
  <table class="table table-striped">
    <thead>
    <tr>
      <th>Brand</th>
      <th>Price</th>
      <th>Color</th>
      <th>Manufacturer</th>
    </tr>
    </thead>
    <tbody>

    <% @products.each do |product| %>
    <tr>
      <td><%= product.brand %></td>
      <td><%= product.price %></td>
      <td><%= product.color %></td>
      <td><%= product.manufacturer %></td>
    </tr>
    <% end %>
    </tbody>
  </table>
  <% end %>
</div>


